#voteButtons{
  margin: 0 1em 0 4em;
}

.voteUp{
  margin-right: 10px;
}

table{
  margin: 2em 0;
}

#sortOrderSection{
  margin-top: 20px;
}

td{
  width: 25%
}

@media (max-width: 768px) {
  body{
    font-size: 1.3em;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 1.6em;
  }
}